.profilePage {
  padding-top:15px;
}

.profileRow {
  padding-bottom: 15px;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.Green {
  background-color: Green;
  color: white;
}

.Yellow {
  background-color: Yellow;
  color: white;
}

.Red {
  background-color: Red;
  color: white;
}

.profileLabels {
  font-weight: bold
}

