.profilePage {
  padding-top:15px;
}
.profileRow {
  padding-bottom: 15px;
}
.centered {
  text-align: center;
}
.right {
  text-align: right;
}

.Green {
  color: Green;
}

.Yellow {
  color: Yellow;
}

.Red {
  color: Red;
}